@font-face {
  font-family: Unicons;
  src: url('../fonts/unicons-line.woff2') format("woff2"), url('../fonts/unicons-line.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Cabinet Grotesk;
  src: url('../fonts/CabinetGrotesk-Bold.otf') format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Cabinet Grotesk;
  src: url('../fonts/CabinetGrotesk-Extrabold.otf') format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

:root {
  --dark: #1d1d1d;
  --primary: #7575c8;
  --purple: #e3e3ff;
  --blue: #e3f2ff;
  --green: #f3ffe3;
  --pink: #fde4f9;
  --yellow: #ffe49f;
  --orange: #ffefec;
  --white: white;
}

h1 {
  color: var(--dark);
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
}

h2 {
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.35;
}

h3 {
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
}

h5 {
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  letter-spacing: -.01rem;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
}

p {
  margin-bottom: 25px;
}

a {
  color: var(--dark);
  text-decoration: none;
  transition: color .2s;
}

ul {
  margin-top: 0;
  margin-bottom: 25px;
}

ol {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 50px 100px;
  font-size: 20px;
  line-height: 1.7;
}

figure {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
}

figcaption {
  margin-top: 15px;
  font-size: 16px;
}

.body {
  color: var(--dark);
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.section {
  z-index: 4;
  position: relative;
}

.container {
  z-index: 2;
  width: 100%;
  max-width: 1290px;
  height: 100%;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  transition: background-color .2s, color .2s;
  position: relative;
}

.container.cc-narrow {
  max-width: 1100px;
}

.sg-section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  display: grid;
}

.sg-section.margin-top-100 {
  margin-top: 100px;
}

.sg-section.border-top {
  border-top: 2px solid var(--dark);
}

.sg-block, .sg-block-grid {
  margin-bottom: 40px;
  display: block;
}

.sg-button-block {
  margin-right: 60px;
  display: inline-block;
}

.sg-color-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.sg-color-block {
  height: 80px;
  margin-bottom: 10px;
  display: block;
}

.sg-margin-block {
  background-color: #f0f0f8;
  width: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 220px;
  padding-bottom: 120px;
  display: flex;
}

.utility-page-form {
  grid-row-gap: 30px;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-45 {
  margin-bottom: 45px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-55 {
  margin-bottom: 55px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-65 {
  margin-bottom: 65px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-bottom-75 {
  margin-bottom: 75px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.display-1 {
  letter-spacing: -.01rem;
  flex: none;
  margin-bottom: 0;
  font-size: 70px;
  line-height: 1.15;
}

.display-1.margin-bottom-15 {
  margin-bottom: 15px;
}

.display-2 {
  letter-spacing: -.01rem;
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 1.2;
}

.display-2.text-center.margin-bottom-55 {
  margin-bottom: 55px;
}

.display-3 {
  letter-spacing: -.01rem;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1.25;
}

.paragraph-large {
  font-size: 24px;
  line-height: 1.5;
}

.label {
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.35;
}

.label.cc-rotate {
  transform: rotate(-18deg);
}

.unicon {
  font-family: Unicons, sans-serif;
  font-weight: 400;
  line-height: 1;
}

.image-link {
  cursor: none;
  width: 100%;
  transition: color .2s;
}

.link-hover {
  text-decoration: underline;
  transition: border-color .2s, color .2s;
}

.link-hover:hover {
  color: var(--primary);
}

.background-primary {
  background-color: var(--primary);
}

.background-purple {
  background-color: var(--purple);
}

.background-blue {
  background-color: var(--blue);
}

.background-green {
  background-color: var(--green);
}

.background-pink {
  background-color: var(--pink);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-orange {
  background-color: var(--orange);
}

.logo, .logo.nm {
  margin-bottom: 0;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.navbar {
  z-index: 1999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #fff0;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar.border-bottom {
  background-color: var(--white);
}

.navbar-space {
  height: 10px;
}

.navbar-inner {
  z-index: 5;
  background-color: #0000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu-wrapper {
  width: 100%;
}

.nav-menu-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
  place-items: center stretch;
  width: 100%;
  display: grid;
}

.nav-menu {
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 25px 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 19px;
  font-weight: 700;
  display: flex;
}

.nav-link:hover {
  color: var(--primary);
}

.nav-link.w--current {
  color: var(--primary);
  transition: color .2s;
}

.burger-line {
  background-color: var(--dark);
  border-radius: 10px;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-menu-flex-mobile {
  display: flex;
}

.navbar-wrapper-mobile {
  justify-content: space-between;
  align-items: center;
  display: none;
}

.navbar-inner-mobile {
  background-color: #0000;
  flex-direction: column;
  align-items: center;
  display: none;
  position: relative;
  inset: 0% 0% auto;
}

.navbar-brand-mobile {
  display: none;
}

.nav-link-mobile {
  align-items: center;
  height: 143px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: color .2s;
  display: flex;
}

.nav-link-mobile:hover {
  color: var(--primary);
}

.nav-link-mobile:focus-visible, .nav-link-mobile[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.navbar-button-wrapper {
  grid-column-gap: 15px;
  flex: none;
  justify-content: flex-end;
  display: flex;
}

.bullet-list {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-direction: column;
  display: flex;
}

.bullet-list-item {
  grid-column-gap: 10px;
  display: flex;
}

.bullet {
  border: 2px solid var(--dark);
  background-color: var(--purple);
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  display: flex;
}

.block-quote-with-icon {
  margin-top: 50px;
  margin-bottom: 75px;
  display: none;
  position: relative;
}

.quote-icon {
  position: absolute;
  inset: 0% 0% auto 50%;
  transform: translate(-50%, -25px);
}

.field-label {
  display: none;
}

.page-headline {
  width: 80%;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-title {
  letter-spacing: -.03em;
  flex: none;
  font-size: 200px;
  font-weight: 400;
  line-height: 208px;
}

.page-inner {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 130px;
  display: flex;
}

._404 {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  position: relative;
}

.button.cc-center {
  justify-content: center;
  align-items: center;
  display: inline-block;
  overflow: visible;
}

.button-front {
  z-index: 1;
  border: 2px solid var(--dark);
  background-color: var(--white);
  color: var(--dark);
  border-radius: 10px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  position: relative;
}

.button-edge {
  z-index: 0;
  border: 2px solid var(--dark);
  background-color: var(--purple);
  width: 100%;
  height: 100%;
  color: var(--dark);
  border-radius: 10px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  inset: auto 0% -6px;
}

.button-edge.cc-button-social-edge {
  bottom: -5px;
}

.button-text {
  grid-column-gap: 8px;
  color: var(--dark);
  background-color: #0000;
  align-items: center;
  padding: 10px 30px;
  display: flex;
}

.button-social-text {
  padding: 7px 9px;
}

.border-bottom {
  border-bottom: 2px solid var(--dark);
}

.badge {
  border: 2px solid var(--dark);
  background-color: var(--yellow);
  color: var(--dark);
  text-transform: uppercase;
  border-radius: 20px;
  padding: 5px 13px 3px;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
}

.shape-label {
  background-image: url('../images/shape-1.svg');
  background-position: 50% 1px;
  background-repeat: no-repeat;
  background-size: auto;
}

.hero-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  width: 100%;
  padding-top: 220px;
  padding-bottom: 120px;
  display: grid;
}

.hero-image {
  border: 2px solid var(--dark);
  border-radius: 300px 300px 10px 10px;
  width: 80%;
}

.star-badge {
  text-align: center;
  background-image: url('../images/shape-2.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 183px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: absolute;
  top: -6px;
  left: -47px;
}

.position-relative {
  position: relative;
}

.underline {
  background-image: url('../images/underline.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  padding-bottom: 15px;
  display: inline-block;
}

.services {
  text-align: center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.headline-services {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 700px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.services-grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  text-align: left;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-bottom: 40px;
  display: grid;
}

.card {
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 40px;
}

.card.background-pink {
  background-color: var(--pink);
}

.service {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.icon {
  border: 2px solid var(--dark);
  background-color: var(--white);
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  display: flex;
}

.about {
  padding-top: 140px;
  padding-bottom: 330px;
}

.about-grid {
  grid-column-gap: 90px;
  grid-row-gap: 90px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  display: grid;
}

.about-image {
  border: 2px solid var(--dark);
  border-radius: 50%;
}

.badge-text {
  letter-spacing: .05em;
  margin-left: -3px;
}

.star-badge-blue {
  text-align: center;
  background-image: url('../images/shape-3.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 183px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  position: absolute;
  top: 35px;
  right: -20px;
}

.timeline-item {
  grid-column-gap: 25px;
  display: flex;
}

.timeline-info {
  flex: none;
  min-width: 168px;
}

.timeline-marker {
  border-left: 2px solid var(--dark);
  position: relative;
}

.timeline-content {
  margin-top: -6px;
}

.timeline-dot {
  z-index: 2;
  border: 2px solid var(--dark);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  inset: 0% 0% auto -11px;
}

.left-arrow {
  z-index: 99999;
  border: 2px solid var(--dark);
  background-color: var(--yellow);
  width: 50px;
  height: 50px;
  color: var(--dark);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  transition: all .2s ease-in-out;
  display: flex;
  inset: 0% auto 0% 0%;
  transform: translate(-50%);
}

.slider {
  background-color: #0000;
  height: auto;
  padding-bottom: 0;
  position: static;
}

.slide-nav {
  display: none;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.testimonials {
  border: 2px solid var(--dark);
  background-color: var(--white);
  border-radius: 10px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 100px;
  position: absolute;
  inset: auto 0% 0%;
  transform: translate(0, 50%);
}

.testimonial {
  border-style: none;
  border-width: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.rating {
  grid-column-gap: 3px;
  justify-content: center;
  display: flex;
}

.right-arrow {
  border: 2px solid var(--dark);
  background-color: var(--yellow);
  width: 50px;
  height: 50px;
  color: var(--dark);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  display: flex;
  inset: 0% 0% 0% auto;
  transform: translate(50%);
}

.slide-content {
  text-align: center;
}

.doodle-shine {
  position: absolute;
  top: 95px;
  right: -70px;
}

.doodle-breeze {
  position: absolute;
  bottom: 75px;
  right: -83px;
}

.doodle-flash {
  position: absolute;
  inset: 10px auto 0% 70px;
}

.doodle-shine-purple {
  position: absolute;
  top: -40px;
  right: 160px;
}

.doodle-heart {
  position: absolute;
  inset: -80px 15px auto auto;
}

.doodle-arrow {
  position: absolute;
  bottom: -70px;
  right: 50px;
}

.doodle-scribble {
  position: absolute;
  inset: 45px auto 0% -40px;
}

.doodle-shine-pink {
  position: absolute;
  top: 30px;
  right: 30px;
}

.overflow-hidden {
  overflow: hidden;
}

.headline-portfolio {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 700px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.portfolio {
  margin-top: 270px;
  padding-bottom: 150px;
  position: relative;
}

.portfolio-grid {
  grid-column-gap: 40px;
  grid-row-gap: 90px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.image-frame {
  border: 2px solid var(--dark);
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.button-link {
  grid-column-gap: 8px;
  color: var(--dark);
  align-items: center;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 19px;
  font-weight: 700;
  display: flex;
}

.button-link:hover {
  color: var(--primary);
  border-style: none;
}

.button-link.w--current {
  transition: color .2s;
}

.contact-card {
  border: 2px solid var(--dark);
  background-color: var(--white);
  border-radius: 10px;
  padding: 100px;
  position: relative;
}

.headline-contact {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 500px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  position: relative;
}

.contact-form-block {
  text-align: center;
}

.form-fields-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  text-align: left;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  margin-bottom: 50px;
  display: grid;
}

.text-field {
  border-style: none none solid;
  border-width: 2px;
  border-color: var(--dark);
  min-height: 54px;
  color: var(--dark);
  background-color: #0000;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
}

.text-field:focus {
  border-bottom-color: var(--primary);
}

.text-field::placeholder {
  color: var(--dark);
}

.textarea {
  border-style: none none solid;
  border-width: 2px;
  border-color: var(--dark);
  min-height: 150px;
  color: var(--dark);
  background-color: #0000;
  margin-bottom: 0;
  padding: 0 0 20px;
  font-size: 18px;
}

.textarea:focus {
  border-color: transparent transparent var(--primary);
}

.textarea::placeholder {
  color: var(--dark);
}

.success-message {
  background-color: #0000;
  margin-bottom: 20px;
  padding: 0;
}

.error-message {
  background-color: #0000;
  padding-left: 0;
  padding-right: 0;
}

.site-details {
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-nav {
  grid-column-gap: 50px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.footer-nav-link {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  transition: color .2s;
}

.footer-nav-link:hover {
  color: var(--primary);
}

.footer-nav-link.w--current {
  color: #605dba;
}

.doodle-cloud {
  position: absolute;
  top: 450px;
  right: -120px;
}

.doodle-envelope {
  position: absolute;
  top: 365px;
  left: -70px;
}

.doodle-clink {
  position: absolute;
  right: -40px;
}

.footer {
  position: relative;
  overflow: hidden;
}

.anchor {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  transform: translate(0, -100px);
}

.anchor.cc-transform-none {
  transform: none;
}

.intro {
  padding-top: 200px;
  padding-bottom: 400px;
}

.intro-grid {
  grid-column-gap: 100px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-info {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flex-horizontal {
  display: flex;
}

.project-details {
  padding-bottom: 60px;
}

.main-image {
  margin-top: -300px;
}

.details {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text-block {
  display: block;
}

.rich-text-block a {
  text-decoration: underline;
  transition: color .2s;
}

.rich-text-block a:hover {
  color: var(--primary);
}

.rich-text-block img {
  border: 2px solid var(--dark);
  border-radius: 10px;
}

.overflow {
  height: 200px;
  position: absolute;
  inset: 0% 0% auto;
}

.overflow.background-white.border-bottom {
  height: 220px;
}

.background-white {
  background-color: var(--white);
}

.button-sc {
  position: relative;
}

.doodle-wave {
  position: absolute;
  inset: auto auto 190px -60px;
}

.experience-grid {
  grid-row-gap: 90px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.cursor-wrapper {
  z-index: 9999;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  inset: 0;
}

.cursor {
  z-index: 99999;
  border: 2px solid var(--dark);
  background-color: var(--yellow);
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.cursor-text-view {
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-right: -.1em;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  position: absolute;
}

.related {
  margin-top: 140px;
}

.text-center {
  text-align: center;
}

.post-inner {
  padding-bottom: 200px;
}

.gallery-collection-list {
  grid-column-gap: 50px;
  grid-row-gap: 70px;
  flex-direction: column;
  display: flex;
}

.place {
  color: var(--primary);
  font-style: normal;
  font-weight: 500;
}

.rich-text-block-2, .collection-list-wrapper {
  display: block;
}

.div-block {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1350px;
  }

  .sg-section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .sg-block-grid {
    margin-right: -20px;
  }

  .utility-page-content {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .margin-bottom-none.margin-top-20, .margin-bottom-35.margin-top-20 {
    margin-top: 20px;
  }

  .page-headline {
    width: 75%;
  }

  ._404 {
    width: 55%;
  }

  .doodle-envelope {
    left: -110px;
  }

  .paragraph-wrapper {
    max-width: 600px;
  }

  .place {
    color: var(--primary);
    font-size: 16px;
    font-style: normal;
    line-height: 1.1;
  }

  .work-title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  blockquote {
    padding-left: 70px;
    padding-right: 70px;
  }

  .sg-block {
    margin-bottom: 40px;
  }

  .sg-block-grid {
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    margin-bottom: 40px;
    display: grid;
  }

  .display-1 {
    font-size: 45px;
    line-height: 52px;
  }

  .display-2 {
    font-size: 37px;
    line-height: 44px;
  }

  .display-3 {
    font-size: 34px;
    line-height: 44px;
  }

  .paragraph-large {
    margin-bottom: 30px;
  }

  .navbar-space {
    display: none;
  }

  .navbar-inner {
    display: none;
    position: relative;
  }

  .nav-menu-wrapper {
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
  }

  .nav-menu-grid {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-menu {
    grid-row-gap: 0px;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    height: auto;
    padding: 6px 0;
  }

  .menu-button {
    margin-left: 10px;
    padding: 0;
  }

  .menu-button.w--open {
    color: #60697b;
    background-color: #0000;
  }

  .nav-menu-flex-mobile {
    flex-direction: column;
    padding: 30px 40px;
  }

  .nav-menu-wrapper-mobile {
    border: 2px solid var(--dark);
    background-color: var(--white);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    transform: translate(0, 10px);
  }

  .navbar-wrapper-mobile {
    display: flex;
  }

  .navbar-inner-mobile {
    align-items: center;
    display: flex;
  }

  .navbar-brand-mobile {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
  }

  .nav-link-mobile {
    height: auto;
    padding: 6px 0;
    font-size: 18px;
  }

  .nav-link-mobile.w--current {
    color: var(--primary);
  }

  .navbar-button-wrapper {
    justify-content: center;
    align-items: center;
  }

  .page-title {
    font-size: 140px;
    line-height: 148px;
  }

  ._404 {
    width: 100%;
  }

  .hero-grid {
    grid-row-gap: 50px;
    text-align: center;
    flex-direction: column-reverse;
    padding-top: 180px;
    display: flex;
  }

  .services {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .services-grid {
    flex-direction: column;
    display: flex;
  }

  .about {
    padding-top: 120px;
  }

  .about-grid {
    text-align: center;
    flex-direction: column;
    display: flex;
  }

  .testimonials {
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px 70px;
  }

  .doodle-flash {
    top: -40px;
    left: 50px;
  }

  .doodle-shine-purple {
    right: 60px;
  }

  .doodle-scribble {
    top: 0;
    left: -30px;
  }

  .portfolio {
    margin-top: 250px;
  }

  .portfolio-grid {
    flex-direction: column;
    display: flex;
  }

  .contact-card {
    padding: 70px;
  }

  .footer-nav-link {
    height: auto;
    padding: 6px 0;
  }

  .intro {
    padding-bottom: 120px;
  }

  .intro-grid {
    flex-direction: column;
    display: flex;
  }

  .main-image.margin-bottom-70 {
    margin-top: 0;
  }

  .details {
    display: block;
  }

  .experience-grid {
    flex-direction: column;
    display: flex;
  }

  .post-inner {
    padding-top: 120px;
    padding-bottom: 160px;
  }

  .heading, .heading-2 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  blockquote {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sg-section {
    grid-row-gap: 60px;
    grid-template-columns: 1fr;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .sg-color-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sg-color-block {
    width: 25%;
  }

  .paragraph-large {
    font-size: 22px;
    line-height: 34px;
  }

  .nav-menu {
    flex-direction: column;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .navbar-brand-mobile {
    padding-left: 0;
  }

  .page-title {
    font-size: 50px;
    line-height: 58px;
  }

  .star-badge-blue {
    top: 25px;
    right: -40px;
  }

  .timeline-item {
    flex-direction: column;
    padding-left: 25px;
    position: relative;
  }

  .timeline-marker {
    height: 100%;
    position: absolute;
    inset: 0% auto auto 0%;
  }

  .testimonials {
    padding-left: 50px;
    padding-right: 50px;
  }

  .doodle-shine {
    top: 50px;
    right: -40px;
  }

  .doodle-flash {
    top: -50px;
    left: 10px;
  }

  .doodle-shine-purple {
    right: 10px;
  }

  .headline-portfolio {
    padding-top: 80px;
  }

  .contact-card {
    padding: 50px;
  }

  .contact-form-block {
    width: 100%;
  }

  .form-fields-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .textarea {
    padding-top: 8px;
  }

  .brand {
    padding-left: 0;
  }

  .footer-row {
    grid-row-gap: 15px;
    flex-direction: column;
  }

  .footer-nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .project-info {
    grid-row-gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .project-details {
    padding-bottom: 0;
  }

  .details {
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sg-block-grid {
    grid-template-columns: 1fr;
  }

  .sg-button-block {
    margin-bottom: 20px;
  }

  .sg-color-grid {
    grid-template-columns: 1fr 1fr;
  }

  .nav-menu-wrapper {
    width: 80%;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-menu-wrapper-mobile {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .star-badge {
    display: none;
  }

  .service {
    flex-direction: column;
  }

  .about {
    padding-bottom: 120px;
  }

  .star-badge-blue {
    display: none;
  }

  .testimonials {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px 30px;
    position: relative;
    transform: translate(0);
  }

  .doodle-shine, .doodle-breeze, .doodle-flash, .doodle-shine-purple, .doodle-heart, .doodle-arrow, .doodle-scribble, .doodle-shine-pink {
    display: none;
  }

  .portfolio {
    margin-top: 50px;
  }

  .doodle-clink, .doodle-wave {
    display: none;
  }
}

#w-node-_078c5366-5e47-e102-f494-b4e6862ea331-6862afdc {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

#w-node-_6375a177-9327-c154-dac3-8b3ada498c63-6862afdc {
  grid-area: 1 / 8 / 2 / 13;
  justify-self: end;
}

#w-node-_908cf13f-45bc-7a53-eee3-4f968724de2a-6862afdc, #w-node-ff4270e8-39a0-7263-9727-66d200bbc72f-6862afdc, #w-node-_03d9474b-adda-369c-ac23-45dfec9daf8e-6862afdc, #w-node-a99e198e-62c7-aae9-b5b4-cf4798209326-6862afdc {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_89f2db53-16bb-feb9-9790-0a23859c4d47-6862afdc {
  grid-area: span 1 / span 6 / span 1 / span 6;
  place-self: center end;
}

#w-node-_89f2db53-16bb-feb9-9790-0a23859c4d31-6862afdc {
  grid-area: span 1 / span 6 / span 1 / span 6;
  align-self: center;
}

#w-node-_09ca6aca-0b7c-1704-b04a-7917e123ab02-6862afdc {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_09ca6aca-0b7c-1704-b04a-7917e123ab0e-6862afdc {
  grid-area: 1 / 7 / 2 / 13;
}

#w-node-_5c9b9ec6-e1d1-193e-8060-c198cc6c5974-6862afdc, #w-node-f705d7d3-6e38-b932-d246-73ee1ff51f27-1ff51f20 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2dbc92e1-f640-1dc3-f27e-e52bbea09c40-6862afde {
  grid-area: 1 / 3 / 2 / 11;
  justify-self: center;
}

#w-node-b970029d-e571-0109-e799-435511aae61b-6862afdf {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-b983a49d-4767-6b80-3997-caa78bbd2f8b-6862afdf, #w-node-_6022cf23-fd38-c8e7-2017-ad1265598822-6862afdf {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_83d6f05d-741e-b844-451e-a28484925089-6862afe0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-da5bc5d1-5870-faa9-f42d-73310396d194-6862afe0, #w-node-_3613de55-826f-e071-46cc-f89a9df212de-6862afe0, #w-node-_63d9265d-44e4-fe1b-fb89-961a3581021a-6862afe0, #w-node-cd193904-5227-c440-3b84-8eef6d854f4a-6862afe1, #w-node-_0c7d33c4-a2da-5195-884e-8d52b44431da-6862afe1, #w-node-ad7761c5-0720-1086-f378-34e757b0cffd-6862afe1 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-f94e86d6-2f27-b2e6-caa7-56265c1833c3-6862afe1, #w-node-f94e86d6-2f27-b2e6-caa7-56265c1833c4-6862afe1, #w-node-ad7761c5-0720-1086-f378-34e757b0cfff-6862afe1, #w-node-ad7761c5-0720-1086-f378-34e757b0d000-6862afe1, #w-node-_7027d086-beb1-cddc-5cdb-f269ad9343e3-6862afe1, #w-node-_7027d086-beb1-cddc-5cdb-f269ad9343e4-6862afe1, #w-node-_6405011f-2a7e-8ce7-7169-6f6b1ee055c5-6862afe1, #w-node-_6405011f-2a7e-8ce7-7169-6f6b1ee055c6-6862afe1, #w-node-_42cacc95-a55c-b1f0-3043-33031bbb9305-6862afe1, #w-node-_42cacc95-a55c-b1f0-3043-33031bbb9306-6862afe1, #w-node-_97cb67c9-f58a-85d8-ba4c-58ea843196ce-6862afe1, #w-node-_97cb67c9-f58a-85d8-ba4c-58ea843196cf-6862afe1, #w-node-_49050642-de1f-3576-adca-80b210909378-6862afe1, #w-node-_49050642-de1f-3576-adca-80b210909379-6862afe1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_9f7e7334-9ae7-5911-fafe-fba726522020-6862afe1, #w-node-c2b652eb-a6a6-0a7e-9c10-9efbc862e0e4-6862afe1 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-de010925-a157-75a9-50c4-b209e16e119a-6862afe3, #w-node-_411bfa05-1c20-f0ef-d8eb-429e23947617-6862afe3 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1280px) {
  #w-node-b983a49d-4767-6b80-3997-caa78bbd2f88-6862afdf {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-b983a49d-4767-6b80-3997-caa78bbd2f8b-6862afdf {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-_6022cf23-fd38-c8e7-2017-ad126559881f-6862afdf {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_6022cf23-fd38-c8e7-2017-ad1265598822-6862afdf {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-da5bc5d1-5870-faa9-f42d-73310396d191-6862afe0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-da5bc5d1-5870-faa9-f42d-73310396d194-6862afe0 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-_3613de55-826f-e071-46cc-f89a9df212db-6862afe0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_3613de55-826f-e071-46cc-f89a9df212de-6862afe0 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-_63d9265d-44e4-fe1b-fb89-961a35810217-6862afe0 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_63d9265d-44e4-fe1b-fb89-961a3581021a-6862afe0 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-cd193904-5227-c440-3b84-8eef6d854f47-6862afe1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-cd193904-5227-c440-3b84-8eef6d854f4a-6862afe1 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-_0c7d33c4-a2da-5195-884e-8d52b44431d7-6862afe1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_0c7d33c4-a2da-5195-884e-8d52b44431da-6862afe1 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-ad7761c5-0720-1086-f378-34e757b0cffa-6862afe1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-ad7761c5-0720-1086-f378-34e757b0cffd-6862afe1 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-_9f7e7334-9ae7-5911-fafe-fba72652201d-6862afe1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_9f7e7334-9ae7-5911-fafe-fba726522020-6862afe1 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #w-node-c2b652eb-a6a6-0a7e-9c10-9efbc862e0e1-6862afe1 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-c2b652eb-a6a6-0a7e-9c10-9efbc862e0e4-6862afe1 {
    grid-area: 1 / 2 / 2 / 4;
  }
}


@font-face {
  font-family: 'Unicons';
  src: url('../fonts/unicons-line.woff2') format('woff2'), url('../fonts/unicons-line.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../fonts/CabinetGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../fonts/CabinetGrotesk-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}